// colors
$primaryColor: #071C4D;
$secondaryColor: #FF9E53;
$tertiaryColor: #E4E6EB;

// fonts
$default: 'Assistant', sans-serif;
$custom: 'Playfair Display', serif;

// max-width
$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;